body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

h1, h2 {
    color: #35424a;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
